@import url("https://fonts.googleapis.com/css?family=Martel:wght@100&family=Martel:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Montserrat:wght@100&family=Martel:wght@600&display=swap");


.container {
	background-color: #0E0F14;
	margin: 0 auto;
	color: #FFFFFF;
}


.title {
	font-family: 'Martel';
	font-style: normal;
	font-weight: normal;
	font-size: 45px;
	line-height: 76px;
	text-align: center;
}

@media (max-width:1200px) {
	.title {
		font-size: 40px;
		line-height: 67px;
	}
}

@media (max-width:500px) {
	.title {
		font-size: 25px;
		line-height: 42px;
	}
}



.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
	padding: 0px 100px;
	margin: 0 0 390px 0;
	height: 874px;
}

@media (min-width:1200px) {
	.wrapper {
		background-image: url(img/intro-bg-dark.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
}

@media (max-width:768px) {
	.wrapper {
		height: 1024px;
	}
}

.logo {
	position: absolute;
	left: 100px;
	top: 30px;
}

@media (max-width:768px) {
	.logo {
		left: 36px;
		top: 30px;
	}
}

@media (max-width:375px) {
	.logo {
		left: 20px;
		top: 11px;
	}
}

@media (max-width:1199px) {
	.frame {
		display: none;
	}
}

.burger {
	position: absolute;
	right: 100px;
	top: 58px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 24px;
	height: 24px;
}

@media (max-width:768px) {
	.burger {
		right: 30px;
		top: 51px;
	}
}

@media (max-width:375px) {
	.burger {
		right: 19px;
		top: 18px;
	}
}

.burger-block {
	left: 12.5%;
	right: 12.5%;
	top: 75%;
	bottom: 25%;
	border: 2px solid #FFFFFF;
}

.wrapper__center {
	position: absolute;
	width: 588px;
	height: 588px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.wrapper__center-text {
	position: absolute;
	width: 100%;
	display: flex;
}

.wrapper__center-object {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.wrapper__center-circle {
	position: absolute;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.bgell {
	position: absolute;
	z-index: 5;
}

.center-ellipse {
	position: absolute;
}

.elpurple {
	position: absolute;
	transform: rotate(-3deg);
}

.fut {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 49px;

	text-align: center;
	letter-spacing: 0.04em;
	text-transform: uppercase;

	background: linear-gradient(180deg, #C339FD 0%, #5357F6 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	margin: 23px 0 0 0;
	z-index: 5;
}



.icon-left {
	position: absolute;
	left: 100px;
}

.icon-right {
	position: absolute;
	right: 100px;
	z-index: 5;
}

.looper {
	left: 0;
	bottom: -360px;
	width: 100%;
	position: absolute;
	z-index: 4;
}

.hand {
	display: none;
	position: absolute;
	width: 721px;
	height: 786px;
	z-index: 3;
	bottom: -90px;
	left: -10px;
}












.services {
	background:
		linear-gradient(180deg, #0E0F14 17.51%, rgba(14, 15, 20, 0.96) 56.94%, #0E0F14 75.24%),
		url(img/Service\ background.png);
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 0 0 182px 0;
}


.services__other-services {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	margin: 0 0 0 100px;
}

@media (max-width:1200px) {
	.services__other-services {
		flex-direction: row;
		padding: 0 0 0 30px;
		margin: 0 0 0 0;
	}
}

.services__startup-services {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row-reverse;
	max-width: 422px;
	margin: 62px 0;
}

@media (max-width:1200px) {
	.services__startup-services {
		flex-direction: row;
		padding: 0 0 0 162px;
	}
}

.services__commerce-services {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	justify-content: flex-end;
}

@media (max-width:1200px) {
	.services__commerce-services {
		flex-direction: row;
		padding: 0 0 0 204px;
	}
}

.services-name {
	margin: 0 0 15px 0;
}

.services__left {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 50%;
	margin: 0;
}

@media (max-width:1200px) {
	.services__left {
		flex-direction: column-reverse;
		width: 100%;
	}
}

.services__right {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 50%;
	margin: 0;
}

@media (max-width:1200px) {
	.services__right {
		width: 100%;
		position: relative;
		flex-direction: column-reverse;
		align-items: flex-start;
	}
}

.services__develop {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

@media (max-width:1200px) {
	.services__develop {
		padding: 0 0 0 253px;
	}
}


.services__marketing {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 62px 0;
}

@media (max-width:1400px) {
	.services__marketing {
		padding: 0 0 0 179px;
	}
}


.services__crypto {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

@media (max-width:1400px) {
	.services__crypto {
		padding: 0 0 0 30px;
	}
}

.services-block-left {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	max-width: 232px;
	margin: 0 1.5rem;
}

.services-block {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	max-width: 232px;
	margin: 0 1.5rem;
}

.limit-277 {
	max-width: 277px;
}

.limit-207 {
	max-width: 207px;
}

.fs-25 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 30px;
}

@media (max-width:768px) {
	.fs-25 {
		font-size: 18px;
		line-height: 22px;
	}
}

.fs-22 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 27px;
	text-align: center;
}

@media (max-width:768px) {
	.fs-22 {
		font-size: 16px;
		line-height: 20px;
	}
}

@media (max-width:375px) {
	.fs-22 {
		font-size: 12px;
		line-height: 15px;
	}
}

.fs-18 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
}

.fs-16 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
}

.fs-14 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
}

@media (max-width:768px) {
	.fs-14 {
		font-size: 12px;
		line-height: 15px;
	}
}

.fs-10 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 10px;
	line-height: 12px;
}

.services__body {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	max-width: 1440px;
}

@media (max-width:1200px) {
	.services__body {
		flex-direction: column-reverse;
		gap: 27px;
	}
}


.services__body-center {
	max-width: 519px;
	position: absolute;
	margin: 0 auto;
}

@media (max-width:1400px) {
	.services__body-center {
		max-width: 380px;
	}
}

@media (max-width:1200px) {
	.services__body-center {
		display: none;
	}
}

@media (max-width:1200px) {
	.service-img {
		width: 80%;
	}
}

.body-center-img {
	margin: 0 auto;
}


.left-ellipse {
	display: none;
	left: 0;
	position: absolute;
}

@media (max-width:1200px) {
	.left-ellipse {
		display: block;
	}
}


.services__title {
	margin: 0 0 70px;
}



.about {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 0 0 150px 0;
}

.about__title {
	margin: 0 0 40px 0;
}

.about__discrip {
	max-width: 910px;
	text-align: center;
}

@media (max-width:1200px) {
	.about__discrip {
		padding: 0 30px;
	}
}

.working {
	position: relative;
}

.working__title {
	margin: 0 0 141px 0;
}

.working-union {
	position: absolute;
	left: 0px;
	bottom: 42px;
}

@media (max-width:1200px) {
	.working-union {
		display: none;
	}
}

.working__ellipse {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 0 0 226px 0;
}

@media (max-width:768px) {
	.working__ellipse {
		flex-direction: column;
	}
}

.ellipse-w {
	background-image: url(img/Ellipse\ 66.png);
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	box-sizing: border-box;
	width: 236px;
	height: 236px;
	border-radius: 50%;
	z-index: 1;
	transition: all 0.3s ease;
}

.evaluation {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0 0 175px 0;
}

.evaluation-title {
	margin: 0 0 20px 0;
	text-align: center;
}

@media (max-width:768px) {
	.evaluation-title {
		max-width: 533px;
	}
}

@media (max-width:375px) {
	.evaluation-title {
		max-width: 272px;
	}
}

.evaluation-text {
	max-width: 661px;
	margin: 0 0 70px 0;
}

.evaluation-body {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: space-evenly;
}

.ebody-right {
	display: flex;
	gap: 30px;
	padding: 0 15px;
}

@media (max-width:650px) {
	.ebody-right {
		flex-direction: column;
	}
}

.evaluation-left {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.e-bg {
	background-image: linear-gradient(95.72deg, #c339fd -6.34%, #5357f6 113.91%);
}

.e-bbg {
	background: linear-gradient(#0E0F14, #0E0F14) padding-box,
		linear-gradient(to right, #C339FD, #5357F6) border-box;
	border-radius: 50em;
	border: 2px solid transparent;
}

.evaluation-provide {
	border-radius: 20px;
	width: 325px;
	height: 99px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin: 0 0 25px 0;
}

.evaluation-indicate {
	border-radius: 20px;
	width: 325px;
	height: 99px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin: 0 0 25px 0;
}

.evaluation-lt {
	width: 215px;
	display: flex;
}

.evaluation-choose {
	border-radius: 20px;
	width: 325px;
	height: 99px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin: 0 0 25px 0;
}

.evaluation-get {
	border-radius: 20px;
	width: 325px;
	height: 99px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin: 0 0 25px 0;
}


.e-num {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	font-size: 40px;
	line-height: 49px;
	font-family: 'Montserrat';
	font-style: normal;
}

.evaluation-discription {
	width: 305px;
	text-align: center;
}

.evaluation-middle {
	margin: 0 0 20px 0;
}

.block-middle {
	width: 457px;
	height: 833px;
	display: flex;
	flex-direction: column;
	background: linear-gradient(#0E0F14, #0E0F14) padding-box,
		linear-gradient(to right, #C339FD, #5357F6) border-box;
	border-radius: 20px;
	border: 2px solid transparent;
	margin: 0 0 20px 0;
}

@media (max-width:910px) {
	.block-middle {
		width: auto;
		height: 818px;
	}
}

.ev-scroll {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.scroll-left {
	display: flex;
	align-items: center;
	justify-content: center;
}

.scroll-right {
	display: flex;
	align-items: center;
	justify-content: center;
}

.arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 7px 0 0;
}

.arrow-r {
	transform: rotate(180deg);
	margin: 0 0 0 7px;
}

.ev-title {
	margin: 40px 0 30px 50px;
}

.ev-list {
	display: flex;
}


.ev-type {
	display: flex;
	margin: 0 0 15px 50px;
}

@media (max-width:910px) {
	.ev-type {
		margin: 0 0 12px 25px;
	}
}

.land-page {
	display: flex;
	flex-direction: column;
}

.ev-img {
	max-width: 25px;
	max-height: 25px;
	margin: 0 15px 0 0;
}

.ev-r {
	display: flex;
	flex-direction: column;
}

.ev-h3 {
	display: flex;
	flex-direction: column;
	max-width: 252px;
	margin: 0 0 6px 0;
}

.ev-h3 {
	display: flex;
	flex-direction: column;
	text-align: start;
}

.ev-text {
	max-width: 317px;
	text-align: start;
}

.evaluation-rigth {
	width: 398px;
	display: flex;
	flex-direction: column;
}

.right-companies {
	width: 398px;
	height: 141px;
	border: 2px solid rgba(255, 255, 255, 0.6);
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	margin: 0 0 15px 0;
}

@media (max-width:910px) {
	.right-companies {
		width: auto;
	}
}

.comp-r {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100px;
	height: 37px;
}

.comp-l {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100px;
	height: 37px;
}

.com-centr {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
}

.duration {
	width: 398px;
	width: auto;
	height: 141px;
	background: linear-gradient(93.59deg, #C339FD -9.35%, #5357F6 123.11%);
	border-radius: 20px;
	margin: 0 0 25px 0;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
}

.up {
	text-transform: uppercase;
}

.btn {
	width: 398px;
	width: auto;
	height: 50px;
	background: linear-gradient(93.59deg, #C339FD -9.35%, #5357F6 123.11%);
	border-radius: 20px;
	margin: 0 0 30px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
	text-transform: uppercase;
}

.con-t {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	letter-spacing: 0.04em;
}

.click {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.click-text {
	margin: 0 0 15px 0;
	color: #C339FD;
}


.ourcases {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	margin: 0 0 160px 0;
}


.ourcases__title {
	margin: 0 0 125px 0;
}

.ourcases__main {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	max-width: 1300px;
	width: 100%;
	gap: 140px 50px;
}

.ourcases__block {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 595px;
	height: 502px;
	border: 2px solid transparent;
	border-radius: 30px;
	background: linear-gradient(#0E0F14, #0E0F14) padding-box,
		linear-gradient(to right, #C339FD, #5357F6) border-box;
}

@media (max-width:768px) {
	.ourcases__block {
		width: 338px;
		height: 370px;
	}
}

.genius__img {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

@media (max-width:768px) {
	.genius__img {
		width: 90%;
	}
}

.tatoo__img {
	margin: 0 auto;
	width: 85%;
	height: auto;
}

.ourcases__bg {
	display: flex;
	align-items: center;
	max-width: 449px;
	width: 100%;
	max-height: 449px;
	height: 100%;
	background-image: url(img/Ellipse\ 67.png);
	background-size: 100% auto;
	background-position: center;
	background-repeat: no-repeat;
	overflow: visible;
	margin: -120px 0 0 0;
}

.our-both {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 517px;
}

.ourh {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 0 0 25px 0;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 30px;
}

@media (max-width:768px) {
	.ourh {
		font-size: 16px;
		line-height: 20px;
		margin: 0 0 15px 0;
	}
}

@media (max-width:375px) {
	.ourh {
		font-size: 16px;
		line-height: 20px;
	}
}

.ourh-bt {
	text-align: start;
	max-width: 517px;
	margin: 0 auto;
}

@media (max-width:768px) {
	.ourh-bt {
		max-width: 299px;
		margin: 0 0 15px 0;
	}
}

.drop {
	margin: 20px 0 0 0;
}

.financ-img {
	margin: -40px auto 0;
	width: 75%;
	height: auto;
}

.financ__bg {
	margin: -140px 0 0 0;
}

.financ-marg {
	margin: -30px 0 0 0;
}


.alta-both {
	margin: -40px 0 0 0;
}

.collab-img {
	max-width: 60%;
	margin: 0 auto;
}

.team {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	margin: 0 0 160px 0;
}

.team__title {
	margin: 0 0 59px 0;
}

.team__top {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	max-width: 920px;
	width: 100%;
	gap: 70px 25px;
}

@media (max-width:768px) {
	.team__top {
		gap: 51px 20px;
	}
}

.team__person {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.team__bg {
	background-image: url(img/Group36.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	width: 290px;
	height: 290px;
	margin: 0 0 25px 0;
	overflow: visible;
}

@media (max-width:768px) {
	.team__bg {
		width: 223px;
		height: 223px;
	}
}

.savv-img {
	display: block;
	margin: 34px auto;
}

@media (max-width:768px) {
	.savv-img {
		width: 165px;
		height: 165px;
		margin: 27px auto;
	}
}

.team__img {
	max-width: 290px;
	height: auto;
	margin: 0 0 25px 0;
}

@media (max-width:768px) {
	.team__img {
		max-width: 223px;
	}
}

.team__name {
	text-align: center;
	margin: 0 0 5px 0;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 30px;
}

@media (max-width:768px) {
	.team__name {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 700;
		font-size: 22px;
		line-height: 37px;
	}
}

.team__job {
	text-align: center;
	max-width: 234px;
}

.partner {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto 170px;
	max-width: 1200px;
}

@media (max-width:1200px) {
	.partner {
		flex-direction: column;
		gap: 50px 0;
	}
}

@media (max-width:500px) {
	.partner {
		flex-direction: column;
		gap: 50px 0;
		max-width: 335px;
	}
}

.partner__left {
	display: flex;
	flex-direction: column;
	align-items: start;
}

@media (max-width:1200px) {
	.partner__left {
		align-items: center;
	}
}

.partner__title {
	text-align: start;
	margin: 0 0 40px 0;
}

@media (max-width:1200px) {
	.partner__title {
		text-align: center;
	}
}

@media (max-width:500px) {
	.partner__title {
		text-align: center;
		margin: 0 0 30px 0;
		font-size: 25px;
		line-height: 42px;
	}
}

.partner__text {
	text-align: start;
	max-width: 430px;
}

@media (max-width:1200px) {
	.partner__text {
		max-width: 708px;
		text-align: center;
	}
}

@media (max-width:1200px) {
	.partner-img {
		max-width: 150px;
	}
}

@media (max-width:500px) {
	.partner-img {
		max-width: 98px;
	}
}

.partner__right {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.partner__img-floor {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 600px;
	width: auto;
	gap: 0 75px;
	margin: 0 0 60px 0;
}

@media (max-width:500px) {
	.partner__img-floor {
		margin: 0 0 20px 0;
	}
}

.reviews {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0 0 131px 0;
}

@media (max-width:1200px) {
	.reviews {
		flex-direction: column;
		gap: 50px 0;
	}
}

.reviews__left {
	display: flex;
	justify-content: center;
	align-items: center;
}


.reviews__right {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 511px;
}

@media (max-width:1200px) {
	.reviews__right {
		max-width: 627px;
	}
}

@media (max-width:500px) {
	.reviews__right {
		max-width: 285px;
	}
}

.reviews__title {
	margin: 0 0 28px 0;
}

@media (max-width:1200px) {
	.reviews__text {
		font-size: 14px;
		line-height: 17px;
	}
}

@media (max-width:750px) {
	.reviews__text {
		font-size: 12px;
		line-height: 15px;
	}
}

.reviews__stars {
	margin: 0 0 15px 0;
}

.reviews__middle {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 0 20px 0;
}


.r-imgt {
	position: absolute;
	top: 0;
	left: -50px;
}


.r-imgb {
	position: absolute;
	bottom: 0;
	right: -50px;
}

.reviews__name {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;

	text-align: right;
	letter-spacing: 0.04em;
	text-transform: uppercase;

	background: linear-gradient(180deg, #C339FD 0%, #5357F6 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;

	margin: 0 0 30px 0;
}

.contact {
	display: flex;
	flex-wrap: wrap;
	padding: 0 0 103px 0;
	justify-content: center;
}

.contact__main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	max-width: 583px;
	width: 100%;
	height: 488px;
	border: 2px solid transparent;
	border-radius: 30px;
	background: linear-gradient(#0E0F14, #0E0F14) padding-box,
		linear-gradient(to right, #C339FD, #5357F6) border-box;
	margin: 0 20px;
}

.contact__title {
	max-width: 434px;
}

.contact__input {
	padding: 13px 15px;
	width: 434px;
	height: 15px;
	background: #0E0F14;
	border: 1px solid #FFFFFF;
	border-radius: 10px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
	color: rgba(255, 255, 255, 0.7);
	text-transform: uppercase;
}

.contact__floor {
	width: 661px;
	height: 490px;
	display: flex;
	justify-content: space-between;
	margin: 0 0 20px 0;
}

.contact__left {
	width: 661px;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
}

.con-blockp {
	width: 207px;
	height: 146px;
	margin: 0 0 0 20px;
	background: linear-gradient(95.72deg, #C339FD -6.34%, #5357F6 113.91%);
	border-radius: 30px;
}

.fs-12 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
}

.con-tb {
	margin: 0 0 8px 0;
}

.con-blockfb {
	width: 207px;
	height: 146px;
	margin: 0 0 0 20px;
	background: #13151E;
	border: 2px solid rgba(236, 236, 236, 0.1);
	border-radius: 30px;
}

.con-blockb {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 0 0 0 20px;
	width: 207px;
	body>div.container>div.contact>div.contact__right>div: nth-child(1) height: 146px;
	border: 2px solid transparent;
	border-radius: 30px;
	background: linear-gradient(#0E0F14, #0E0F14) padding-box,
		linear-gradient(to right, #C339FD, #5357F6) border-box;
}

.contact__floor-right {
	max-width: 434px;
	display: flex;
	margin: 0 0 20px 0;
}

.contact__right {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}


.footer {
	border-top: 1px solid rgba(255, 255, 255, 0.7);
	height: 258px;
	background: #0E0F14;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #FFFFFF;
	position: relative;
}

@media (max-width:855px) {
	.footer {
		height: 305px;
	}
}

@media (max-width:375px) {
	.footer {
		height: 361px;
	}

	.section {
		flex-direction: column;
	}
}

.f-logo {
	margin: 0 0 42px 0;
}

.sections {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap-reverse;
	gap: 25px;
}

.section {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 0 35px 0;
	gap: 25px;
}

.links {
	display: flex;
	justify-content: space-between;
	width: 340px;
}

.lift {
	top: 15%;
	right: 100px;
	position: absolute;
}

@media (max-width:375px) {
	.lift {
		right: 30px;
	}
}

@media (max-width:375px) {
	.lift {
		top: -20px;
		right: 20px;
	}
}